[submodule "repositories/collectionsOps/YuZejiang"]
	path = repositories/collectionsOps/YuZejiang
	url = https://github.com/trotyl/collection-homework
[submodule "repositories/collectionsOps/GaoShiyi"]
	path = repositories/collectionsOps/GaoShiyi
	url = https://github.com/cqupt-gsy/homework.git
[submodule "repositories/collectionsOps/LiXueying"]
	path = repositories/collectionsOps/LiXueying
	url = https://github.com/lixueying/homework.git
[submodule "repositories/collectionsOps/LiaoGuolong"]
	path = repositories/collectionsOps/LiaoGuolong
	url = https://github.com/Dragon-L/homework.git
[submodule "repositories/collectionsOps/LuYangjie"]
	path = repositories/collectionsOps/LuYangjie
	url = https://github.com/JellyLu/homework-one-collections.git
[submodule "repositories/guessNumberGame/YuZejiang"]
	path = repositories/guessNumberGame/YuZejiang
	url = https://github.com/trotyl/guess-number-java
[submodule "repositories/guessNumberGame/WenYang"]
	path = repositories/guessNumberGame/WenYang
	url = https://github.com/uazw/tw-guess-game
[submodule "repositories/guessNumberGame/SuXin"]
	path = repositories/guessNumberGame/SuXin
	url = https://github.com/xloypaypa/TW
[submodule "repositories/guessNumberGame/LiaoGuolong"]
	path = repositories/guessNumberGame/LiaoGuolong
	url = https://github.com/Dragon-L/homework-2
[submodule "repositories/guessNumberGame/LiXueying"]
	path = repositories/guessNumberGame/LiXueying
	url = https://github.com/lixueying/tdd-workshop-guess
[submodule "repositories/guessNumberGame/GaoShiyi"]
	path = repositories/guessNumberGame/GaoShiyi
	url = https://github.com/cqupt-gsy/homework
[submodule "repositories/guessNumberGame/ZengChaowei"]
	path = repositories/guessNumberGame/ZengChaowei
	url = https://github.com/slizeng/homework_1
[submodule "repositories/collectionsOps/YanQian"]
	path = repositories/collectionsOps/YanQian
	url = https://github.com/qianyan/homework
[submodule "repositories/guessNumberGame/LiuQing"]
	path = repositories/guessNumberGame/LiuQing
	url = https://github.com/kenpusney/tdd-workshop-guess
[submodule "repositories/guessNumberGame/ChenZhihao"]
	path = repositories/guessNumberGame/ChenZhihao
	url = https://github.com/MMMr-chen/TW
[submodule "repositories/guessNumberGame/ChengSasa"]
	path = repositories/guessNumberGame/ChengSasa
	url = https://github.com/Sasa33/TW-guess-number-game-2
[submodule "repositories/guessNumberGame/LiLingfang"]
	path = repositories/guessNumberGame/LiLingfang
	url = https://github.com/lingHender/ThoughtWorkLearning
[submodule "repositories/guessNumberGame/WangPei"]
	path = repositories/guessNumberGame/WangPei
	url = https://github.com/Json-w/tdd-homeWork-guessGame
[submodule "repositories/guessNumberGame/WuZhiping"]
	path = repositories/guessNumberGame/WuZhiping
	url = https://github.com/stayrascal/tdd-workshop-guess
